/* The side navigation menu */
.sidebar{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
/* Sidebar links */
.sidebar a {
    color: black;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    padding: 16px;
    text-decoration: none;
}
  
/* Active/current link */
.sidebar a.active {
background-color: #4CAF50;
color: black;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
background-color: #555;
color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
margin-top: 100px;
margin-left: 200px;
padding: 1px 16px;
height: 1000px;
}

.adbar {
    margin: 0;
    right: 0px;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
p{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}


.header-cont { width:100%; position:fixed; top:0px; }
.header {
    height: 100px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    width:auto;
    margin:0px auto;
    color: yellow;
    background-color: red;
}
.content {
    width: auto;
    background:#F0F0F0;
    border: 1px solid #CCC;
    margin-top: 100px;
    margin: 70px auto;
}
.face {
    position:fixed;
    right:20px;
    bottom:0px;
}

/*BUTTONS*/

/*to go to notes*/
.notesbtn{
    font-size: larger;
    font-family: 'Comic Sans MS';
    font-weight: bolder;
    border-radius: 8px;
    border-width: thick;
    height: 10%;
    width: 50%;
    padding: 10px;
    color: yellow;
    background-color: red;
}
.notesbtn:hover{
    background-color: black;
}

/*joke button*/
.jokebtn{
    font-size: larger;
    font-family: 'Comic Sans MS';
    font-weight: bolder;
    border-radius: 8px;
    border-width: thick;
    height: 10%;
    width: 50%;
    padding: 10px;
    color: yellow;
    background: red;
}
.jokebtn:hover{
    background-color: black;
}

/*for watermarc*/
.watermarc{
    font-size: larger;
    font-family: 'Comic Sans MS';
    font-weight: bolder;
    border-radius: 8px;
    border-width: thick;
    height: 10%;
    width: 50%;
    padding: 10px;
    color: yellow;
    background-color: red;
}
.watermarc:hover{
    color: rgba(0, 0, 0, 0);
    background:url("/static/images/resizedwatermarc.jpg") no-repeat;
    z-index: 10;
    position:fixed;
    width: 140px;
    height: 140px;
    right:50px;
    bottom:0px;
}

/*to threaten your family*/
.threatbtn{
    font-size: larger;
    font-family: 'Comic Sans MS';
    font-weight: bolder;
    border-radius: 8px;
    border-width: thick;
    height: 10%;
    width: 50%;
    padding: 10px;
    color: yellow;
    background-color: red;
}
.threatbtn:hover{
    border: none;
    background-color: black;
}