/* The side navigation menu */
.sidebar{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
  
/* Active/current link */
.sidebar a.active {
background-color: #4CAF50;
color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
background-color: #555;
color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
margin-left: 200px;
padding: 1px 16px;
height: 1000px;
}

.adbar {
    margin: 0;
    right: 0px;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
p{
    color: #1cb041;
    font-family: Trebuchet MS;
}

.btn{
    background-color: burlywood;
    border: none;
}
.btn:hover{
    background-color: black;
}

.btn1{
    background-color: rgb(222, 135, 196);
    border-width: thick;
    padding: 10px;
}
.btn1:hover{
    border: none;
}
.header-cont { width:100%; position:fixed; top:0px; }
.header {
    height: 100px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    width:auto;
    margin:0px auto;
    color: yellow;
    background-color: red;
}
.content {
    width: auto;
    background:#F0F0F0;
    border: 1px solid #CCC;
    height: px;
    margin: 70px auto;
}
.face {
    position:fixed;
    right:200px;
    bottom:0px;
}

/*for watermarc*/
.watermarc{
    background: url("/static/images/MARK.jfif") no-repeat;
    width: 130px;
    height: 195px;
}
.watermarc:hover{
    background:url("/static/images/watermarc.jpg") no-repeat;
    position:fixed;
    width: 130px;
    height: 195px;
    right:200px;
    bottom:0px;
}