<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/practiceStyle.css">
        <title>About Us</title>
    </head>
    <body>
        <audio autoplay>
            <source src = "/static/audio/ussr.mp3" type = "audio/mpeg">
        </audio>
        <div class="header-cont">
            <div class="header">
                <h1>KGB TYPING DIVISION</h1>
            </div>
        </div>
        <div class="sidebar">
            <center>
                <a class="active" href="/homepage">Home</a>
                <a class="active" href="/homepage/about">About Us</a> 
                <a href="http://www.reddit.com/submit?url=https://stackoverflow.com/questions/24823114/post-to-reddit-via-url&title=Post%20to%20Reddit%20via%20URL" target=_blank>
                    <img src="/static/images/redditLogo.png" width="40" height="40"/>
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&display=popup&ref=plugin&src=share_button" target=_blank>
                    <img src="/static/images/facebookLogo.png" width="60" height="40"/>
                </a>
            </center>
        </div>
        <div class="content">
            <h1>About Us</h1>
            <p>Hello there, we are the KGB typing division.<br>We consider your family very dear to us.<br>
                Send kind regards to them.<br>You won't regret it<a href="https://en.wikipedia.org/wiki/Joseph_Stalin" >.</a>
            </p>
            <h1>About the Project</h1>
            <p>
                Innovation. Impact. UI/UX design. Execution. Relevance to Theme.<br><br>
                Trivial. These core ideas are trivial to the KGB typing division.<br><br>
                The Primary Four(*) members of the KGB Typing Division are steeped in tactical espionage and
                global surveillance - a name feared from within the Kremlin walls all the way to the forests of cold Siberia.<br>
                But most importantly of all we, The Primary Four, are most concerned with the wellbeing of the worker.<br><br>
                The corner-stone of great nations.<br><br>
                As such, we have designed this website - for you, yes you dear comrade!<br>
                May you use this website to benefit your mental health in times of great isolation (I shudder if you are called
                to the desolation of Omyakon).<br>
                We provide you with a variety of tools at your disposal.
                <br><br><br>
                (*) there may or may not be five members<br>
                (**) these may or may not be pseudonyms. You decide.
            </p>
        </div>
    </body>
</html>