<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DinoGame</title>
        <style>
            
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            canvas {
                display: block;
            }
            .gamebutton {
                position:fixed;
                top: 35px;
                background-color:crimson;
                color: yellow;
                height: 50px;
                width: 100px;
            }
        </style>

    </head>
    <body>
        <canvas id="game" width="640" height="400"></canvas>
        <script src="/static/dino.js"></script>
        <a href="/homepage/", target=_blank>
            <center>
            <button class = "gamebutton" onclick="window.location.href='/homepage/'">
                Home
            </button>
            </center>
        </a>
        
    </body>

</html>