<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/practiceStyle.css">

</head>

<body>
    <!-- 2 div classes required for floating header -->
    <div class="header-cont">
        <div class="header">
            <h1>KGB TYPING DIVISION</h1>
        </div>
    </div>
    <div class="sidebar">
        <center>
            <a class="active" onclick="window.location.href='/homepage/'">Home</a>
            <a class="active" onclick="window.location.href='/homepage/about'">About Us</a>
            <a href="http://www.reddit.com/submit?url=https://stackoverflow.com/questions/24823114/post-to-reddit-via-url&title=Post%20to%20Reddit%20via%20URL" target=_blank>
                <img src="/static/images/redditLogo.png" width="40" height="40"/>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&display=popup&ref=plugin&src=share_button" target=_blank>
                <img src="/static/images/facebookLogo.png" width="60" height="40"/>
            </a>
            <script>
                console.log("hello world")
            </script>
        </center>
    </div>
    <div class="adbar">
        <h1>Sponsors</h1>
        <a href="rick_astley.html" target=_blank>
            <img src="/static/images/doctors_hate_her.jpg" width = 200px onclick="window.location.href='/homepage/rick_astley'"/>
        </a>
    </div>
    <div class="content">   
        <center>
            
            <a>
                <button class = "notesbtn" onclick ="window.location.href='/homepage/note'">
                    Notes
                </button>
            </a>
        <br>
            
            <script>
                function joke() {
                    var x = Math.floor(Math.random() * 5);
                    var joke = "Whats a bee's favourite novel? The Great Gats Bee";
                    if (x == 1) {
                        joke = "Why did Steve fall off the tractor? Because Steve was a strawberry";
                    }
                    if (x == 2) {
                        joke = "My wife told me to stop acting like a flamingo. So I had to put my foot down";
                    }
                    if (x == 3) {
                        joke = "Did you hear about the mathematician who was afraid of negative numbers? He’ll stop at nothing to avoid them.";
                    }
                    if (x == 4) {
                        joke = "Did you hear about the restaurant called Karma? There is no menu, you get what you deserve";
                    }
                    if (x == 5) {
                        joke =  "Did you hear about the actor who fell through the floorboards? He was probably just going through a stage.";
                    }
                    alert(joke);
                }
            </script>
             <button onclick="joke()">Joke</button>
            <!--<button class="jokebtn" type="button"  onclick="alert('{{ joke }}')">Joke!</button>-->



        <br>
        <a>
            <button class = "watermarc">
                Come here for a Surprise!
            </button>
            
        </a>
        <br>
            <a href="/homepage/sike">
                <button class = "threatbtn" onclick="window.location.href='/homepage/sike'">
                    Get your family back from the KGB
                </button>
            </a>

            <hr>
            <! -- IMAGES -->

            <div class="face">
                <a href="https://www.challeng.unsw.edu.au/marc-chee", target=_blank>
                    <img src="/static/images/MARK.jfif" width="70%"/>
                </a>
            </div>
        </center>
    </div>
    

</body>

</html>