<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/practiceStyle.css">

</head>

<body>
    <!-- 2 div classes required for floating header -->
    <div class="header-cont">
        <div class="header">
            <h1>KGB TYPING DIVISION</h1>
        </div>
    </div>
    <div class="sidebar">
        <center>
            <a class="active" href="/templates/homepagePractice.html">Home</a>
            <a class="active" href="/templates/about.html">About Us</a>
            <a href="http://www.reddit.com/submit?url=https://stackoverflow.com/questions/24823114/post-to-reddit-via-url&title=Post%20to%20Reddit%20via%20URL" target=_blank>
                <img src="/static/images/redditLogo.png" width="40" height="40"/>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&display=popup&ref=plugin&src=share_button" target=_blank>
                <img src="/static/images/facebookLogo.png" width="60" height="40"/>
            </a>
        </center>
    </div>
    <div class="adbar">
        <h1>Sponsors</h1>
        <a href="rick_astley.html" target=_blank>
            <img src="/static/images/doctors_hate_her.jpg" width = 200px/>
        </a>
    </div>
    <div class="content">   
        <center>
            
            <a>
                <button class = "btn2">
                    Notes
                </button>
            </a>
        <br>
            <button class="btn" type="button"  onclick="alert('{{ joke }}')">Joke!</button>
        <br>
        <a>
            <button class = "watermarc">
                <a href=''> Surprise! <span><img src="/static/images/watermarc.jpg" height="100/"></span></a>
            </button>
        </a>
        <br>
            <a href="/templates/sikeSubpage.html">
                <button class = "btn1" onclick="window.location.href='/homepage/sike'">
                    Get your family back from the KGB
                </button>
            </a>

            <hr>
            <! -- IMAGES -->
            <div class="face">
                <a href="https://www.challeng.unsw.edu.au/marc-chee", target=_blank>
                    <img src="/static/images/MARK.jfif" width="70%"/>
                </a>
            </div>
        </center>
    </div>
    

</body>

</html>