<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/practiceStyle.css">

</head>

<body>
    <!-- 2 div classes required for floating header -->
    <div class="header-cont">
        <div class="header">
            <h1>KGB TYPING DIVISION</h1>
        </div>
    </div>
    <div class="sidebar">
        <a class="active" href="#homepagePractice">Home</a>
        <a href="http://www.reddit.com/submit?url=https://stackoverflow.com/questions/24823114/post-to-reddit-via-url&title=Post%20to%20Reddit%20via%20URL" target=_blank>
            <img src="../images/reddit.png" width="40" height="40"/>
        </a>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&width=96&height=20&appId" width="96" height="20">
        </iframe style="border:none;overflow:hidden">
    </div>
    <div class="adbar">
        <h1>Sponsors</h1>
        <a href="rick_astley.html" target=_blank>
            <img src="../images/doctors_hate_her.jpg" width = 200px/>
        </a>
    </div>
    <div class="content">   
        <! -- all the stuff you see -->
        <center>
            
            <! -- HYPERLINK -->
            <a href="https://www.google.com/" target=_blank> <h4> Google </h4> </a>
            <a>
                <button class="btn" type="button"  onclick="alert('{{ joke }}')">Joke!</button>
            </a>
            <a href="https://www.youtube.com/" target=_blank>
                <button class="btn1"> Youtube </button>
            </a>

            <a href="sikeSubpage.html" target=_blank>
                <!--<button class="btn1"> Subpage </button>-->
                <button class = "btn1" onclick="window.location.href='/homepage/sike'">
                    Get your family back from the KGB
                  </button>
            </a>

            <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&width=96&height=20&appId" width="96" height="20"></iframe style="border:none;overflow:hidden">

            <hr>
            <! -- IMAGES -->
            <div class="face">
                <a href="https://www.challeng.unsw.edu.au/marc-chee">
                    <img src="../images/MARK.jfif" width="70%"/>
                </a>
            </div>
        </center>
    </div>
    

</body>

</html>