<!DOCTYPE HTML>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
p {
  display: inline;
  font-size: 40px;
}
body {
    background-color: rgb(204, 0, 0);
    background: url('file://static/images/ourlogo.png') no-repeat center center fixed;
    background-size: cover;
}
.logo {
    opacity: 0.1;
    z-index: -1;
}
</style>
</head>
<body>
<center>
    <p id="days"></p>
    <p id="hours"></p>
    <p id="mins"></p>
    <p id="secs"></p>
    <h2 id="end"></h2>
    <button class = timerbutton onclick="reset()">Reset timer</button>
</center>
    <script>
    function savedtimer() {
        var datetocount = localStorage.getItem("datetocount")
        var countDownDate = new Date(datetocount).getTime();
        var myfunc = setInterval(function() {
        var now = new Date().getTime();
        var timeleft = countDownDate - now;
        
        var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
        var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
            
        // Result is output to the specific element
        document.getElementById("days").innerHTML = days + "d "
        document.getElementById("hours").innerHTML = hours + "h " 
        document.getElementById("mins").innerHTML = minutes + "m " 
        document.getElementById("secs").innerHTML = seconds + "s " 
            
        // Display the message when countdown is over
        if (timeleft < 0) {
            clearInterval(myfunc);
            document.getElementById("days").innerHTML = ""
            document.getElementById("hours").innerHTML = "" 
            document.getElementById("mins").innerHTML = ""
            document.getElementById("secs").innerHTML = ""
            document.getElementById("end").innerHTML = "ono";
        }
        }, 1000);
    }
    savedtimer();
    function reset(){
        var datetocount = window.prompt("Enter the date you want to count down to (in the form Jul 25, 2021 16:37:52): ");
        var countDownDate = new Date(datetocount).getTime();
        localStorage.setItem("time", countDownDate);
        localStorage.setItem("datetocount", datetocount);
        var myfunc = setInterval(function() {

        var now = new Date().getTime();
        var timeleft = countDownDate - now;
        localStorage.setItem("timeleft", timeleft)  
        // Calculating the days, hours, minutes and seconds left
        var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
        var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
            
        // Result is output to the specific element
        document.getElementById("days").innerHTML = days + "d "
        document.getElementById("hours").innerHTML = hours + "h " 
        document.getElementById("mins").innerHTML = minutes + "m " 
        document.getElementById("secs").innerHTML = seconds + "s " 
            
        // Display the message when countdown is over
        if (timeleft < 0) {
            clearInterval(myfunc);
            document.getElementById("days").innerHTML = ""
            document.getElementById("hours").innerHTML = "" 
            document.getElementById("mins").innerHTML = ""
            document.getElementById("secs").innerHTML = ""
            document.getElementById("end").innerHTML = "ono";
        }
        }, 1000);
        window.location.reload();
    }
    
    </script>
    <audio autoplay loop>
        <source src = "/static/audio/tick.mp3" type = "audio/mpeg">
    </audio>
    <center>
        <p class="logo">
            <img src="/static/images/ourlogo.png" height=400px/>
        </p>
    </center>
</body>
</html>