<!DOCTYPE html>
<html>
    <head>
        <title>better than one note fight me bruv</title>
        <link rel="stylesheet" type="text/css" href="/static/notesStyle.css" />
        <script src="/static/notesFunctionality.js"></script>
    </head>

    <body>
        <div class="header-cont">
            <div class="header">
                <h1>KGB TYPING DIVISION</h1>
            </div>
        </div>
        <div class="sidebar">
            <center>
                <a class="active" href="/homepage">Home</a>
                <a class="active" href="/homepage/about">About Us</a> 
                <a href="http://www.reddit.com/submit?url=https://stackoverflow.com/questions/24823114/post-to-reddit-via-url&title=Post%20to%20Reddit%20via%20URL" target=_blank>
                    <img src="/static/images/redditLogo.png" width="40" height="40"/>
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&display=popup&ref=plugin&src=share_button" target=_blank>
                    <img src="/static/images/facebookLogo.png" width="60" height="40"/>
                </a>
            </center>
        </div>
        
        <div id="container">
            <div id="controls">
                <p><a href="javascript:save();" class="button">Save</a>
                    <a href="javascript:clear();" class="button">Clear</a>
                    <a href="javascript:display_saved_note();" class="button">Load Note</a>
                    <a href="javascript:display_all();" class="button">Display all</a>
                </p>
            </div>
            <textarea id="area" rows="10" cols="50"></textarea>
        </div>
        <textarea class='allnotes' id='all notes' rows="10" cols="50"></textarea>
        <div class="footer">
            
        </div>
    </body>
</html>