<!DOCTYPE html>
<html>
    <head>
        <title>HTML5 Application Development</title>
        <link rel="stylesheet" type="text/css" href="/static/notesStyle.css" />
        <script src="/static/notesFunctionality.js"></script>
    </head>
    <body>
        <div id="header">
            <div id="name">Make Your Marc</div>
            <div class="clear"></div>
        </div>
        <div id="container">
            <div id="controls">
                <p><a href="javascript:save();" class="button">Save</a>
                    <a href="javascript:clear();" class="button">Clear</a></p>
            </div>
            <textarea id="area" rows="10" cols="50"></textarea>
        </div>
        <div class="footer">
            
        </div>
    </body>
</html>